<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:sql="http://wixtoolset.org/schemas/v4/wxs/sql"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
        <Package Name="ItemEyezInstaller"
                         Manufacturer="death-scripts"
                         Version="1.0.0.0"
                         UpgradeCode="8A2E1F3C-5B7D-4E9A-8C1B-2F0E7D6C5A3B"
                         Compressed="yes">
                <MediaTemplate EmbedCab="yes" />
                <Feature Id="ProductFeature" Title="ItemEyez Installer" Level="1">
                        <ComponentGroupRef Id="ApplicationFiles" />
                        <ComponentGroupRef Id="SqlComponents" />
                </Feature>
                <UI>
                        <ui:WixUI Id="WixUI_InstallDir" />
                </UI>
                <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
                <Property Id="SQLSERVER_INSTANCE" Value="localhost\\SQLEXPRESS" />
                <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />
        </Package>

        <Fragment>
                <StandardDirectory Id="ProgramFiles64Folder">
                        <Directory Id="INSTALLFOLDER" Name="ItemEyez" />
                </StandardDirectory>
        </Fragment>

        <Fragment>
                <Icon Id="ApplicationIcon" SourceFile="..\\item-eyez\\images\\item-eyez.ico" />
                <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
                        <!-- Populated at build time via HarvestDirectory in the WiX project. -->
                </ComponentGroup>
        </Fragment>

        <Fragment>
                <ComponentGroup Id="SqlComponents">
                        <Component Id="SqlComponent"
                                           Guid="A1B2C3D4-E5F6-7890-1234-567890ABCDEF"
                                           Directory="INSTALLFOLDER">
                                <sql:SqlDatabase Id="ItemEyezDatabase"
                                                     Server="[SQLSERVER_INSTANCE]"
                                                     Database="ITEMEYEZ"
                                                     CreateOnInstall="yes"
                                                     CreateOnUninstall="no"
                                                     DropOnInstall="no"
                                                     DropOnUninstall="no"
                                                     ContinueOnError="yes" />
                                <sql:SqlScript Id="CreateSchema"
                                                       SqlDb="ItemEyezDatabase"
                                                       BinaryRef="CreateSqlScript"
                                                       ExecuteOnInstall="yes"
                                                       ExecuteOnReinstall="yes"
                                                       Sequence="1" />
                        </Component>
                </ComponentGroup>
                <Binary Id="CreateSqlScript" SourceFile="..\\item-eyez\\create.sql" />
        </Fragment>
</Wix>
